body {
    color: rgb(136, 38, 197);
    background-color: 
    rgb(250, 96, 186); 
}

p {
    color:rgb(255, 255, 255)
}


.special_text{
    color:rgb(113, 6, 213);
    font-style: italic;
}

.bold-important-text{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(168, 90, 240);
}
    

a:hover {
    text-decoration: underline;
    color:aquamarine

}

a:visited{
    color:rgb(101, 229, 152)
}

body {
  text-align: center;
}

/* Optional: center block elements too */
div, section, article, header, footer {
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  height: auto;
}
